.myform {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
}
#box {
  width: 150px;
  height: 50px;
  background-color: rgb(235, 162, 162);
}

#submit {
  display: block;
  cursor: pointer;
  border: 1px solid black;
  text-align: center;
}

#box1 {
  width: 150px;
  height: 50px;
  background-color: rgb(235, 162, 162);
}

#submit1 {
  display: block;
  cursor: pointer;
  border: 1px solid black;
  text-align: center;
}
#box3 {
  width: 150px;
  height: 50px;
  background-color: rgb(235, 162, 162);
}
